 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/header1-26.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 485px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 326px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 707px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-weight: 600;
  text-transform: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 499px;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 0;
}

.u-section-2 .u-image-1 {
  width: 437px;
  height: 393px;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 39px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 130px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 11px 10px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 68px;
  height: 68px;
  margin: 0 285px 0 10px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: -68px 0 0 107px;
}

.u-section-2 .u-container-layout-4 {
  padding: 11px 10px 0 0;
}

.u-section-2 .u-icon-2 {
  width: 68px;
  height: 68px;
  margin: 0 285px 0 10px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: -68px 0 0 107px;
}

.u-section-2 .u-container-layout-5 {
  padding: 11px 10px 0 0;
}

.u-section-2 .u-icon-3 {
  width: 68px;
  height: 68px;
  margin: 0 285px 0 10px;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: -68px 0 0 107px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 107px;
  }

  .u-section-2 .u-icon-1 {
    padding: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    padding: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    padding: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 324px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 246px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 218px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 218px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 435px;
    order: 0;
  }

  .u-section-2 .u-image-1 {
    width: 475px;
    height: 425px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 163px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 163px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 306px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 101px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 101px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 101px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 585px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-carousel-control-1 {
    left: 25px;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 395px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 984px;
  margin: 50px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 150px;
  background-image: url("images/gggg-25.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 785px;
    margin-left: 77px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    height: 136px;
    margin-right: initial;
    margin-left: initial;
    width: 136px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-4 .u-image-1 {
    height: 131px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 136px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-4 .u-image-1 {
    width: 151px;
    height: 151px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }
}